<!-- <div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a routerlink="list">Employee List</a></li>
      <li><a routerlink="create">Add Employee</a></li>
    </ul>
  </nav> -->
<!-- <div class="container">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button">
        Employee List
      </button>
      <button class="btn btn-outline-primary" type="button">
        Add Employee
      </button>
    </form>
  </nav> -->

<router-outlet></router-outlet>
<!-- </div> -->
<!-- </div> -->
